# Database Assignment

### Q1. what is database? difference between SQL and NoSQL databases.

Database refers to collection of a dataset that it managed in such a way that it can be easily fetched, edited adn optimized.

SQL is based in relational data model, which means that only rows and columns are used, NoSQL on the other hand, has the ability to use multiple data models like documents, graphs, pictures etc.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER and TRUNCATE are used with an example

DDL stands for Data Defination Language. DDL quaries helps to create, drop and alter database contents like tables, indexes etc.

- **CREATE** : It is used basically to create a bunch of database objects like tables, indexes etc.

In [ ]:
CREATE TABLE table_name{
    // key values of the table
}

- **DROP** : The drop query is used in order to delete/remove database objects like tables, indexes...

In [ ]:
DROP TABLE table_name

- **ALTER** : The alter command is used to modify the components of an existing table, with it, you can add, move and delete certain parts of a database model

In [ ]:
ALTER TABLE table_name{
    ADD column_name data_type(column_constraints);
}

- **TRUNCATE** : Unlike DELETE statement which delete individual rows from a table, this statement can delete entire rows of the given table

### Q3. What is DML? Explain INSERT, UPDATE and DELETE with an example.

-  Stands for Data Manupulating Language, DML can do a handsful of things like insert, update and deleting content from a database

- **INSERT**: This statement is used in order to insert contents to a specific table.

In [ ]:
INSERT into database.table_name(content_parameters)

- **DELETE**: Unlike TRUNCATE statement, this gives user more flexibility in order to delete specific portions of a database tables.

In [ ]:
DELETE FROM table_name
    WHERE condition;

- **UPDATE** : It gives user the power to change existing values, adn update them according to their required conditons.

### Q5. Explain Primary Key & Foreign Key.

- Primary key is an unique identifier for each row inside of a database table. It ensures that each row has to be uniquely identified

- Foreign Key: Foreign Key refers to a column or a set of columns that refers to a primary key of another table. It helps establishing relations between two tables

### Q6. Write a python code to connect mySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()

- **cursor()** : The cursor() method is like a pointer, which hovers throughout the database, and helps to interact with each individual elements inside the table

- **execute()** : The execute() command is used in order to run SQL command through python language