# Pandas Assignment 1

### Q1. List any five functions of the pandas library with execution.

- **.head():** it is used in order to display top elements of a big table provided

In [1]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.3-cp310-cp310-manylinux_2_28_x86_64.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 48.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
test = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2022_totals.html")

In [3]:
df = test[0]

In [4]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
1,2,Steven Adams,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
3,4,Santi Aldama,PF,21,MEM,32,0,360,53,132,...,.625,33,54,87,21,6,10,16,36,132
4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607

- **type():** This is used to check the datatype of any given variable passed in the function

In [5]:
type(df)

pandas.core.frame.DataFrame

- **.dtypes():** This is used to check the datatypes of individual coloumns in a given dataframe

In [6]:
df.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

- **.tail():** This is used to display the last elements of a given table

In [7]:
df.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
838,602,Trae Young,PG,23,ATL,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
840,604,Cody Zeller,C,29,POR,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

- **.describe:** It does basic statistical operations of a given data.

In [8]:
df.describe()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,842,842,842,842,842,842,842,842,842,842,...,745,842,842,842,842,842,842,842,842,842
unique,606,606,13,23,32,83,81,626,339,475,...,282,148,303,347,260,107,85,168,203,488
top,Rk,Player,SG,24,TOT,2,0,MP,0,FGA,...,1.000,0,0,0,0,0,0,0,0,0
freq,30,30,200,103,97,39,265,30,42,30,...,50,76,36,31,61,92,138,73,43,35

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', 'C', write a python function to re-index the DataFrame with a new index that starts from 1 and increments by 2

In [9]:
def reindex_dataframe(df1):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df) * 2 + 1)
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    return df_reindexed
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [100, 200, 300], 'C': [1000, 2000, 3000]})
df_reindexed = reindex_dataframe(df1)
print(df_reindexed)

       Rk             Player Pos Age   Tm   G  GS    MP   FG   FGA  ...   FT%  \
1       1   Precious Achiuwa   C  22  TOR  73  28  1725  265   603  ...  .595
3       2       Steven Adams   C  28  MEM  76  75  1999  210   384  ...  .543
5       3        Bam Adebayo   C  24  MIA  56  56  1825  406   729  ...  .753
7       4       Santi Aldama  PF  21  MEM  32   0   360   53   132  ...  .625
9       5  LaMarcus Aldridge   C  36  BRK  47  12  1050  252   458  ...  .873
...   ...                ...  ..  ..  ...  ..  ..   ...  ...   ...  ...   ...
1675  601     Thaddeus Young  PF  33  TOR  26   0   475   67   144  ...  .481
1677  602         Trae Young  PG  23  ATL  76  76  2652  711  1544  ...  .904
1679  603     Omer Yurtseven   C  23  MIA  56  12   706  130   247  ...  .623
1681  604        Cody Zeller   C  29  POR  27   0   355   51    90  ...  .776
1683  605        Ivica Zubac   C  24  LAC  76  76  1852  310   495  ...  .727

      ORB  DRB  TRB  AST STL BLK  TOV   PF   PTS
1     146  327  473   82  37  41   84  151   664
3     349  411  760  256  65  60  115  153   528
5     137  427  564  190  80  44  148  171  1068
7      33   54   87   21   6  10   16   36   132
9      73  185  258   42  14  47   44   78   607
...   ...  ...  ...  ...  ..  ..  ...  ...   ...
1675   40   75  115   45  31  11   22   43   164
1677   50  234  284  737  72   7  303  128  2155
1679   85  209  294   49  17  20   41   84   299
1681   50   75  125   22   8   6   19   56   140
1683  217  427  644  120  36  77  114  203   785

[842 rows x 30 columns]

### Q3. Given a Pandas DataFrame df with column named 'Values'. Write a python function to re-index the DataFrame with a new index that iterates over the DataFrame and calculates the sum of the first the three values in the 'Values' column

In [10]:
df2 = pd.DataFrame({'Name':['Rohan', 'Rahul', 'Deva'], 'Values' : [8, 10 ,12]})
total = 0
for i in df2['Values'[0:]]:
    total = total + i
print(total)

30

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of 'Text' column

### Q5. How are DataFrame.size() and DataFrame.shape() different?

- Dataframe.size() outputs the total data in all of the columns in the dataframe
- whereas, DataFrame.shape() returns a tuple with the dimentions of the given dataframe

### Q6. Which function of pandas is used to read excel file?

.read_excel() function in pandas library is used to read excel file.

### Q7.  You have a oandas dataframe df that contains a column named 'Email' that contains mail id in the format "username@gmail.com". Write a python code to that creates a new column 'Username' in df that contains only username part of the email address

In [11]:
emails_df = {'Emails' : ['username1@gmail.com', 'username2@gmail.com', 'username3@gmail.com']}
df3 = pd.DataFrame(emails_df)

In [12]:
df3

                Emails
0  username1@gmail.com
1  username2@gmail.com
2  username3@gmail.com

In [13]:
df3['userName'] = df3['Emails'].str.split('@').str[0]
df3

                Emails   userName
0  username1@gmail.com  username1
1  username2@gmail.com  username2
2  username3@gmail.com  username3

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [14]:
def extraction_of_rows(q8_df):
    selected_rows = q8_df[(q8_df['A']>5) & (q8_df['B']<10)]
    return selected_rows
q8_df = pd.DataFrame({'A' : [3, 8, 6, 2, 9],
                      'B' : [5, 2, 9, 3, 1],
                      'C' : [1, 7, 4, 5, 2]
                     })
new_data = extraction_of_rows(q8_df)

In [15]:
new_data

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given the Pandas DataFrame df with a column 'Values', write a python function to calculate the mean, median and standard deviation of the valuer in the 'Values' column

In [46]:
def calculate_mean(df):
    calculated_mean = df.mean()
    return calculated_mean

def calculate_median(df):
    calculated_median = df.median()
    return calculated_median

def calculate_std(df):
    calculated_std = df.std()
    return calculated_std

Q9_df = pd.DataFrame({'Values' : [78, 89, 52, 45, 75]})
print("The calculated mean of the given dataset is: ", calculate_mean(Q9_df['Values']))
print("\nThe calculated median of the given dataset is: ", calculate_median(Q9_df['Values']))
print("\nThe calculated Standard deviation of the given dataset is: ", calculate_std(Q9_df['Values']))

The calculated mean of the given dataset is:  67.8

The calculated median of the given dataset is:  75.0

The calculated Standard deviation of the given dataset is:  18.539147768977948

### Q10. Given pandas dataframe df with column sales and a column date, write function to calculate a new column 'MovingAverage' that contains the moving average of the sale fo pase 7days for each row inthe dataframe.

In [59]:
import pandas as pd

def calculate_moving_average(df):
    df = df.sort_values(by='Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

Q10_df = pd.DataFrame({'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
                       '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08',
                       '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-12', '2023-08-13'],
    'Sales': [100, 150, 200, 175, 220, 230, 190, 210, 180, 160, 210, 195, 200]
})

moving_average = ((calculate_moving_average(Q10_df)))
print(moving_average)

          Date  Sales  MovingAverage
0   2023-08-01    100     100.000000
1   2023-08-02    150     125.000000
2   2023-08-03    200     150.000000
3   2023-08-04    175     156.250000
4   2023-08-05    220     169.000000
5   2023-08-06    230     179.166667
6   2023-08-07    190     180.714286
7   2023-08-08    210     196.428571
8   2023-08-09    180     200.714286
9   2023-08-10    160     195.000000
10  2023-08-11    210     200.000000
11  2023-08-12    195     196.428571
12  2023-08-13    200     192.142857

### Q11. Pandas DataFrame df with a column 'Date'. Write a python function that creates a new column 'WeekDay' in the DataFrame. The weekday column should contain the weekday name corresponding to each data in the date column

In [74]:
def weekday(df):
    df['WeekDay'] = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday']
    return df

Q11_df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})

new_df = weekday(Q11_df)
print(new_df)

         Date    WeekDay
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

[None]

### To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

To get pandas running, we need to import pandas library to do these operations